@import "../../app.scss";

.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 8px;

    @include tablet {
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
      padding: 16px;
    }
    @include mobile {
      flex-direction: row;
      align-items: center;
      justify-content: end;
      padding: 20px;
    }

    span {
      font-size: 1.1em;
      margin-right: 6rem;

      @include mobile {
        display: none;
      }
    }
    .social {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
